
version: 2.1
jobs:
  validate:
    docker:
      - image: cimg/go:1.15
    steps:
      - checkout
      - run:
          name: go fmt ./...
          command: |
            go fmt ./...
            git diff --quiet --exit-code
      - run:
          name: go mod tidy
          command: |
            go mod tidy
            git diff --quiet --exit-code
      - run: go vet ./...
      - run: go test ./...
      - run: go build ./...

  download:
    docker:
      - image: cimg/go:1.15
    steps:
      - checkout
      - run:
          command: |
            TEMP=$(mktemp -d)
            curl -L "https://github.com/goreleaser/goreleaser/releases/download/v0.89.0/goreleaser_Linux_x86_64.tar.gz" \
              | tar -xvz -C$(TEMP) goreleaser
            $(TEMP)/goreleaser

  release:
    docker:
      - image: cimg/go:1.15
    steps:
      - checkout
      - run:
          command: |
            export GITHUB_TOKEN=$GITHUB_ACCESS_TOKEN

            # goreleaser runs builds for darwin/linux together and module cache isn't safe against concurrent updates.
            # This way we avoid running into issues during goreleaser builds.
            go mod download

            TEMP=$(mktemp -d)
            curl -L "https://github.com/goreleaser/goreleaser/releases/download/v0.89.0/goreleaser_Linux_x86_64.tar.gz" \
              | tar -xvz -C$(TEMP) goreleaser
            $(TEMP)/goreleaser release --rm-dist
            rm -rf $(TEMP)

workflows:
  version: 2.1

  validate:
    jobs:
      - download
      - validate:
          # Only run validation on PRs.
          filters:
            branches:
              ignore: master

  release:
    jobs:
      - release:
          filters:
            # Only run the release on tags.
            branches:
              ignore: /.*/
            tags:
              only: /.*/
